<div class="container">
    <span>Search Bar: </span><input type="text" placeholder="Chercher par categorie..."/>
    <div class="row">
        <div class="col-md-4" style="margin-bottom: 20px;" *ngFor="let product of productsByCategory">
            <!-- <div *ngIf="cat.title == titre || !titre"> -->
            <img
                [src]="product.image"
                [alt]="product.name"
                class="img-fluid h-50 w-75"
            />
            <h3> {{product.name}}</h3>
            <p>{{product.price}}</p>
            <p>{{product.description}}</p>
        </div>
        <!-- </div> -->
    </div>
</div>